*{
    background-color: #1a1a1a;
    padding: 0%;
    margin: 0%;
}

.baner{
    width: 850px;
    height: 450px;
    background-image: url("./assents/Rectangle\ 11.png"); /* Ele adiciona uma imagem como fundo*/
    background-repeat: no-repeat;
    background-size: cover;


}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none; /**/
}

nav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo{
height: 100px;
width: 100px;

}
.bi {
    font-size: 30px;
    color: #4c5444;
}