*{  
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #1a1a1a;
}

.baner{
    width: 850px;
    height: 450px;
    background-image: url("./assents/Rectangle\ 11.png"); /* Ele adiciona uma imagem como fundo*/
    background-repeat: no-repeat;
    background-size: cover;
display: flex;
align-items: center;

}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none; /**/
}

nav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo{
height: 100px;
width: 100px;

}
.bi {
    font-size: 30px;
    color: #4c5444;
}
.texto-banner {
    color: #ffffff;
}
.btn { 
    height: 35px;
    width: 120px;
    background-color: #333333;
    border-radius: 55px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}