*{
    background-color: #1a1a1a;
    padding: 0%;
    margin: 0%;
}

#baner{
    width: 750px;
    height: 450px; ;
}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none; /**/
}
#logo{
height: 100px;
width: 100px;

}