*{  
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #1a1a1a;
}

.baner{
    width: 850px;
    height: 450px;
    background-image: url("./assents/Rectangle\ 11.png"); /* Ele adiciona uma imagem como fundo*/
    background-repeat: no-repeat;
    background-size: cover;
display: flex;
align-items: center;

}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none; /**/
}

nav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo-caveira{
height: 100px;
width: 100px;

}
.bi {
    font-size: 30px;
    color: #4c5444;
}
.texto-banner {
    color: #ffffff;

}
.btn { 
    height: 35px;
    width: 120px;
    background-color: #333333;
    border-radius: 55px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    margin: 20px;
}
.txt-btn{
    width: 210px;
    padding: 30px;
}
.section-baner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 .titulo{

 color: #ffffff;
 font-weight: bold;
 font-size: 35px;
 padding: 20px;
}
.estrutura-titulo{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}
.produtos{
    width: 200px;
    height: 300px;
}
.valor{
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;

   } 

.card{
    width: 200px ;
    height: 380px; 
}
.card-texto{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cores{
    height: 15px;
    width:  15px;
    border-radius: 100%;
    
}
.vermelho{
background-color: red;
}
.azul{
background-color: blue;
}
.amarelo{
    background-color: yellow;
}

.caixa-cores{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 3px;
}

.carousel{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 15px;
}



   

